{% extends "base.html" %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Создайте короткую ссылку автоматически или предложите свой вариант
    </p>

    {% set input_cls = "form-control form-control-lg py-2 mb-3" %}
    {% set ph_orig = "Длинная ссылка" %}
    {% set ph_cust = "Ваш вариант короткой ссылки" %}

    <div class="container">
      <div class="row my-3">
        <div class="col-sm"></div>
        <div class="col-sm">
          <form method="POST" action="{{ url_for('web.index') }}">
            {{ form.hidden_tag() }}
            <div>
              {{ form.original_link(class=input_cls, placeholder=ph_orig) }}
              {% if form.original_link.errors %}
              <p><span style="color:red">{{ form.original_link.errors[0] }}</span></p>
              {% endif %}

              {{ form.custom_id(class=input_cls, placeholder=ph_cust) }}
              {% if form.custom_id.errors %}
              <p><span style="color:red">{{ form.custom_id.errors[0] }}</span></p>
              {% endif %}

              <input type="submit" class="btn btn-primary" value="Создать">
            </div>
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

    {% if short_url %}
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <p class="text-center">
          <h5 class="text-center">Ваша короткая ссылка:</h5>
          <a href="{{ short_url }}">{{ short_url }}</a>
          </p>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
    {% endif %}

  </section>
</main>
{% endblock content %}